<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">

			<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YB8Z3N10EV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YB8Z3N10EV');
</script>
		</head>
		<body>
			<nav class="navbar">
	    		<ul>
	        		<li><a href="stutichugh.github.io">Home</a></li>
		        	<!-- <li class="dropdown" > -->

							<!-- <div class="dropdown"> -->
								<li><a href="places.html">Places</a>
								<!-- <ul class="dropdown-content" >
		       <li><a href="#">Serbia</a></li>
		       <li><a href="#">Bay Area</a></li>
		       <li><a href="#">Croatia</a></li>
					 <li><a href="#">Istanbul</a></li>
					 <li><a href="#">Missouri</a></li>
		    </ul> -->
							</li>
	        		<li>
								<a href="comedy.html">Comedy</a>
								<!-- <ul class="dropdown-content">
		       <li><a href="#">Why I love Comedy</a></li>
		       <li><a href="#">Favorites</a></li>
		    </ul> -->
							</li>
	        		<li><a href="shows.html">Shows</a></li>
							<li><a href="books.html">Books</a></li>
							<li><a href="misc.html">Misc</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->

			<div>
			{% if page.comments == true %}
			  {% include comments.html %}
			{% endif %}

			</div>
			<footer>
				<div class="sqs-layout sqs-grid-12 columns-12" data-type="page-section" id="page-section-5eb2fc91c98c76244126010c"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-7d30729939390c7a25cb"><div class="sqs-block-content"><p style="text-align:center;white-space:pre-wrap;" class="sqsrte-small">© 2021 Stuti Chugh<br></p></div></div></div></div></div>
			</footer>
		</body>
	</html>
