<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav class="navbar">
	    		<ul>
	        		<li><a href="stutichugh.github.io">Home</a></li>
		        	<li class="dropdown" >

							<!-- <div class="dropdown"> -->
								<a>Places</a>
								<ul class="dropdown-content" >
		       <li><a href="#">Serbia</a></li>
		       <li><a href="#">Bay Area</a></li>
		       <li><a href="#">Croatia</a></li>
					 <li><a href="#">Istanbul</a></li>
					 <li><a href="#">Missouri</a></li>
		    </ul>
							</li>
	        		<li>
								<a href="comedy.html">Comedy</a>
								<!-- <ul class="dropdown-content">
		       <li><a href="#">Why I love Comedy</a></li>
		       <li><a href="#">Favorites</a></li>
		    </ul> -->
							</li>
	        		<li><a href="shows.html">Shows</a></li>
							<li><a href="books.html">Books</a></li>
							<li><a href="/blog">Misc</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
				<div class="sqs-layout sqs-grid-12 columns-12" data-type="page-section" id="page-section-5eb2fc91c98c76244126010c"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-7d30729939390c7a25cb"><div class="sqs-block-content"><p style="text-align:center;white-space:pre-wrap;" class="sqsrte-small">© 2021 Stuti Chugh<br></p></div></div></div></div></div>

	    		<!-- <ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul> -->
			</footer>
		</body>
	</html>
