<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/index.html">Home</a></li>
		        	<li class= "dropdown">

								<a class= "dropbtn" href="/about">Places</a>
								<div class="dropdown-content">
      <a href="YouTubeTrends.html">Serbia</a>
      <a href="stat_inf_project.html">Bay Area</a>
      <a href="https://public.tableau.com/views/RegAnalysis/NewUserRegistrationFunnelDashboard?:language=en-US&:display_count=n&:origin=viz_share_link">Croatia</a>
      <a href="Simple Linear Regression-Stuti Chugh.html">Istanbul</a>
      <a href="Logistic_Regression_Classifier_Stuti_Chugh.html">Missouri</a>
    </div>

							</li>
	        		<li><a href="/cv">Comedy</a></li>
	        		<li><a href="/shows.html">Shows and Books</a></li>
							<li><a href="/blog">Misc</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
				<div class="sqs-layout sqs-grid-12 columns-12" data-type="page-section" id="page-section-5eb2fc91c98c76244126010c"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-7d30729939390c7a25cb"><div class="sqs-block-content"><p style="text-align:center;white-space:pre-wrap;" class="sqsrte-small">© 2021 Stuti Chugh<br></p></div></div></div></div></div>

	    		<!-- <ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul> -->
			</footer>
		</body>
	</html>
